@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
  }
  body {
    @apply bg-dark text-light font-sans antialiased;
  }
}
